.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

form input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f23;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px #f6f6f6;
}

form input:hover {
  border-color: #396cd8;
}

form input:focus,
form input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px #f6f6f6;
  cursor: pointer;
}

form button:hover {
  border-color: #396cd8;
}

form button:active {
  border-color: #396cd8;
  background-color: #0c0c0c;
}

.greet-input {
  margin-right: 5px;
}